@model ASP_NET_MVC.Models.Department

@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Department</h2>

@using (@Html.BeginForm("SaveDepartment", "Department", FormMethod.Post))
{
    <div class="form">
        @Html.LabelFor(m => m.Id, "Department ID")
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
    </div>
    <div class="form">
        @Html.LabelFor(m => m.Uni, "University")
        @Html.TextBoxFor(m => m.Uni, new { @class = "form-control" })
    </div>
    <div class="form">
        @Html.LabelFor(m => m.Name, "Department Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div><input type="submit" value="Submit" class=" btn btn-success" /></div>
}
<style>
    .btn {
        margin: 10px;
    }
</style>