@model ASP_NET_MVC.Models.ViewModels
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}
<div id="body">
    <h2 id="title">Administrator</h2>
    <select id="SelectRole" class="form-control" onchange="SelectRole()">
        <option value=""></option>
        <option class="dropdownmenu" value="Course">Course</option>
        <option class="dropdownmenu" value="Teacher">Teacher</option>
        <option class="dropdownmenu" value="Subject">Subject</option>
        <option class="dropdownmenu" value="Room">Room</option>
    </select>
    <hr />
    <div id="CourseSegment">
        <button onclick="DisplayAddCourseForm()" id="AddcourseButton" class="btn-success">Add Course</button>
        <div class="grid">
            <div id="course">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Subject</b></td>
                            <td><b>Teacher</b></td>
                            <td><b>Room</b></td>
                            <td><b>Start</b></td>
                            <td><b>End</b></td>
                            <td><b>Time</b></td>
                            <td><b>Status</b></td>
                            <td><b>Date</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.ViewModelCourse)
                        {
                        <tr id=@course.Id>
                            <td><b>@course.Id</b></td>
                            <td>@course.Subject</td>
                            <td>@course.Teacher</td>
                            <td>@course.Room</td>
                            <td><b>@course.StartDate</b></td>
                            <td><b>@course.EndDate</b></td>
                            <td><b>@course.Time</b></td>
                            <td><b>@course.Status</b></td>
                            <td><b>@course.Date</b></td>
                            <td><b onclick="DeleteCourse('@course.Id')">Delete</b></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="addCourseSegment">
                <form id="addForm">
                    Course's ID
                    <input id="CourseId" class="form-control" type="text" value="" Name="CourseId" /><br />
                    Subject
                    <select id="Subject" class="form-control" Name="Subject">
                        @foreach (var subject in Model.ViewModelSubject)
                        {
                            <option value=@subject.Id>@subject.Id</option>
                        }
                    </select><br />
                    Teacher
                    <select id="Teacher" class="form-control" Name="Teacher">
                        @foreach (var teacher in Model.ViewModelTeacher)
                        {
                            <option value=@teacher.Id>@teacher.Id</option>
                        }
                    </select><br />
                    Room
                    <select id="Room" class="form-control" Name="Room">
                        @foreach (var room in Model.ViewModelRoom)
                        {
                            <option value=@room.Id>@room.Id</option>
                        }
                    </select><br />
                    Start Date
                    <input id="StartDate" class="form-control" type="datetime-local" value="" Name="StartDate" /><br />
                    End Date
                    <input id="EndDate" class="form-control" type="datetime-local" value="" Name="EndDate" /><br />
                    Time
                    <input id="Time" class="form-control" type="text" value="" Name="Time" /><br />
                    Status
                    <select id="Status" class="form-control" Name="Status">
                        <option value="Teaching">Teaching</option>
                        <option value="Compeleted">Compeleted</option>
                        <option value="Canceled">Canceled</option>
                        <option value="Pending">Pending</option>
                    </select><br />
                    Date
                    <select id="Date" class="form-control" Name="Date">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select><br/>
                    <button class="btn-success" type="button" id="addButton">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div id="TeacherSegment">
        <button onclick="DisplayAddTeacherForm()" id="AddTeacherButton" class="btn-success">Add Teacher</button>
        <div class="grid">
            <div id="teacher">
                <table class="table" id="TeacherTable">
                    <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Name</b></td>
                            <td><b>Identity</b></td>
                            <td><b>Email</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var teacher in Model.ViewModelTeacher)
                        {
                        <tr id=@teacher.Id>
                            <td><b onclick="ViewDetails(@teacher.Id)">@teacher.Id</b></td>
                            <td> @teacher.Name </td>
                            <td> @teacher.Idc </td>
                            <td> @teacher.Email </td>
                            <td><b onclick="DeleteTeacher('@teacher.Id')">Delete</b></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="addTeacherSegment">
                <form id="addTeacherForm">
                    Teacher's ID
                    <input id="TeacherId" class="form-control" type="text" value="" Name="TeacherId" /><br />
                    Name
                    <input class="form-control" type="text" value="" /><br />
                    Identity
                    <input class="form-control" type="number" value="" /><br />
                    Email
                    <input class="form-control" value="" /><br />
                    <button class="btn-success" type="button" id="addTeacherButton">Add</button>
                </form>
            </div>
        </div>
        
    </div>
    <div id="SubjectSegment">
        <button onclick="DisplayAddSubjectForm()" id="AddSubjectButton" class="btn-success">Add Subject</button>
        <div class="grid">
            <div id="subject">
                <table class="table" id="SubjectTable">
                    <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Name</b></td>
                            <td><b>Credits</b></td>
                            <td><b>Fee per Credit</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model.ViewModelSubject)
                        {
                        <tr id=@subject.Id>
                            <td><b onclick="ViewDetails(@subject.Id)">@subject.Id</b></td>
                            <td> @subject.Name </td>
                            <td> @subject.Credits </td>
                            <td> @subject.FeePerCredit </td>
                            <td><b onclick="DeleteSubject('@subject.Id')">Delete</b></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="addSubjectSegment">
                <form id="addSubjectForm">
                    Subject's ID
                    <input id="SubjectId" class="form-control" type="text" value="" Name="SubjectId" /><br />
                    Name
                    <input class="form-control" type="text" value="" /><br />
                    Credit
                    <input class="form-control" type="number" value=""/><br />
                    Fee per Credit
                    <input class="form-control" type="number" value=""/><br />
                    <button class="btn-success" type="button" id="addSubjectButton">Add</button>
                </form>
            </div>
        </div>
        

    </div>
    <div id="RoomSegment">
        <button onclick="DisplayAddRoomForm()" id="AddRoomButton" class="btn-success">Add Room</button>
        <div class="grid">
            <div id="room">
                <table class="table" id="RoomTable">
                    <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Status</b></td>
                            <td><b>Manager</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model.ViewModelRoom)
                        {
                        <tr id=@room.Id>
                            <td><b onclick="ViewDetails(@room.Id)">@room.Id</b></td>
                            <td>@room.Status</td>
                            <td>@room.Manager</td>
                            <td><b onclick="DeleteRoom('@room.Id')">Delete</b></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="addRoomSegment">
                <form id="addRoomForm">
                    Room's ID
                    <input id="RoomId" class="form-control" type="text" value="" Name="RoomId" /><br />
                    Status
                    <select id="Status" class="form-control" Name="Status">
                        <option value="Good">Good</option>
                        <option value="Fixing">Fixing</option>
                    </select><br />
                    Manager
                    <select id="Teacher" class="form-control" Name="Teacher">
                        @foreach (var teacher in Model.ViewModelTeacher)
                        {
                            <option value=@teacher.Id>@teacher.Id</option>
                        }
                    </select><br />
                    <button class="btn-success" type="button" id="addRoomButton">Add</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
<style>
    #addForm,#CourseSegment, #TeacherSegment, #SubjectSegment, #RoomSegment, #AccountSegment,#addRoomForm,#addSubjectForm,#addTeacherForm {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    #course, .addCourseSegment,#room,#addRoomSegment,#addSubjectSegment,#subject,#teacher{
        border: ridge;
        padding: 10px;
        margin: 20px;
    }
    #TeacherTable,#SubjectTable,#RoomTable {
        border: ridge;
        padding: 10px;
        margin: 10px;
    }
</style>


<script>
    //SELECT ROLE
    function SelectRole() {
        var x = document.getElementById("SelectRole").value;
        if (x == "Course") {
            document.getElementById("CourseSegment").style.display = "unset";
            document.getElementById("TeacherSegment").style.display = "none";
            document.getElementById("SubjectSegment").style.display = "none";
            document.getElementById("RoomSegment").style.display = "none";
        }
        if (x == "Teacher") {
            document.getElementById("CourseSegment").style.display = "none";
            document.getElementById("TeacherSegment").style.display = "unset";
            document.getElementById("SubjectSegment").style.display = "none";
            document.getElementById("RoomSegment").style.display = "none";
        }
        if (x == "Subject") {
            document.getElementById("CourseSegment").style.display = "none";
            document.getElementById("TeacherSegment").style.display = "none";
            document.getElementById("SubjectSegment").style.display = "unset";
            document.getElementById("RoomSegment").style.display = "none";
        }
        if (x == "Room") {
            document.getElementById("CourseSegment").style.display = "none";
            document.getElementById("TeacherSegment").style.display = "none";
            document.getElementById("SubjectSegment").style.display = "none";
            document.getElementById("RoomSegment").style.display = "unset";
        }
        
    }
    //ADD COURSE
    function DisplayAddCourseForm() {
        document.getElementById("addForm").style.display = "unset";

        var addCourseForm = document.getElementById("addForm");
        document.getElementById("addButton").addEventListener("click", function () {
            AddCourse(addCourseForm.childNodes[1].value,
                addCourseForm.childNodes[4].value,
                addCourseForm.childNodes[7].value,
                addCourseForm.childNodes[10].value,
                addCourseForm.childNodes[13].value,
                addCourseForm.childNodes[16].value,
                addCourseForm.childNodes[19].value,
                addCourseForm.childNodes[22].value)
        })
    }
    function AddCourse(CourseId, Subject, Teacher, Room, StartDate, EndDate, Time, Status, Date) {
        if (CourseId == "" || Subject == "" || Teacher == "" || Room == "" || StartDate == "" || EndDate == "" || Time == "" || Status==""||Date=="") {
            alert("All fields must be filled!");
            return;
        }
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            var c = JSON.parse(this.responseText);
            if (!c) {
                alert("Course existed");
                document.getElementById("addForm").style.display = "none";
                return;
            }
            alert("Course Added");
            document.getElementById("addForm").style.display = "none";
            var table = document.getElementById("table");
            var row = table.insertRow(1);
            row.id = `${CourseId}`;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var cell5 = row.insertCell(5);
            var cell6 = row.insertCell(6);
            var cell7 = row.insertCell(7);
            var cell8 = row.insertCell(8);
            var cell9 = row.insertCell(9);
            var bold = document.createElement("b");
            var textNode = document.createTextNode(`${CourseId}`)
            bold.appendChild(textNode);
            cell0.appendChild(bold);
            cell1.innerHTML = Subject;
            cell2.innerHTML = Teacher;
            cell3.innerHTML = Room;
            cell4.innerHTML = StartDate;
            cell5.innerHTML = EndDate;
            cell6.innerHTML = Time;
            cell7.innerHTML = Status;
            cell8.innerHTML = Date;
            var bold1 = document.createElement("b");
            var textNode1 = document.createTextNode("Delete")
            bold1.appendChild(textNode1);
            cell9.appendChild(bold1);
            cell9.addEventListener("click", function () {
                DeleteCourse(CourseId);
            });
        }
        xhttp.open("POST", "..//../AjaxAdmin/AddCourse?Id=" + CourseId + "&Subject=" + Subject + "&Teacher=" + Teacher + "&Room=" + Room + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&Time=" + Time + "&Status=" + Status+"&Date="+Date);
        xhttp.send();
    }
    //DELETE COURSE
    function DeleteCourse(courseId) {
        var confirmed = confirm("Confirm deletion?")
        if (confirmed == true) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const c = JSON.parse(this.responseText);
                if (!c) {
                    alert("Fail to delete!");
                }
                else {
                    document.getElementById(courseId).style.display = "none";
                    alert("Course Deleted!");
                }
            }
            xhttp.open("GET", "..//../AjaxAdmin/DeleteCourse?Id=" + courseId);
            xhttp.send();
        }
    }

    //ADD ROOM
    function DisplayAddRoomForm() {
        document.getElementById("addRoomForm").style.display = "unset";

        var addRoomForm = document.getElementById("addRoomForm");
        document.getElementById("addRoomButton").addEventListener("click", function () {
            AddRoom(addRoomForm.childNodes[1].value,
                addRoomForm.childNodes[4].value,
                addRoomForm.childNodes[7].value)
        })
    }
    function AddRoom(RoomId, Status,Manager) {
        if (RoomId == "" || Status == "" || Manager == "" ) {
            alert("All fields must be filled!");
            return;
        }
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            var c = JSON.parse(this.responseText);
            if (!c) {
                alert("Room existed");
                document.getElementById("addRoomForm").style.display = "none";
                return;
            }
            alert("Room Added");
            document.getElementById("addRoomForm").style.display = "none";
            var table = document.getElementById("RoomTable");
            var row = table.insertRow(1);
            row.id = `${RoomId}`;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var bold = document.createElement("b");
            var textNode = document.createTextNode(`${RoomId}`)
            bold.appendChild(textNode);
            cell0.appendChild(bold);
            cell1.innerHTML = Status;
            cell2.innerHTML = Manager;
            var bold1 = document.createElement("b");
            var textNode1 = document.createTextNode("Delete")
            bold1.appendChild(textNode1);
            cell3.appendChild(bold1);
            cell3.addEventListener("click", function () {
                DeleteRoom(`${RoomId}`);
            });
        }
        xhttp.open("POST", "..//../AjaxAdmin/AddRoom?Id=" + RoomId + "&Status=" + Status + "&Manager=" + Manager);
        xhttp.send();
    }
    //DELETE ROOM
    function DeleteRoom(RoomId) {
        var confirmed = confirm("Confirm deletion?")
        if (confirmed == true) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const c = JSON.parse(this.responseText);
                if (!c) {
                    alert("Fail to delete!");
                }
                else {
                    document.getElementById(RoomId).style.display = "none";
                    alert("Room Deleted!");
                }
            }
            xhttp.open("GET", "..//../AjaxAdmin/DeleteRoom?Id=" + RoomId);
            xhttp.send();
        }
    }

    //ADD SUBJECT
    function DisplayAddSubjectForm() {
        document.getElementById("addSubjectForm").style.display = "unset";

        var addSubjectForm = document.getElementById("addSubjectForm");
        document.getElementById("addSubjectButton").addEventListener("click", function () {
            AddSubject(addSubjectForm.childNodes[1].value,
                addSubjectForm.childNodes[4].value,
                addSubjectForm.childNodes[7].value, addSubjectForm.childNodes[10].value)
        })
    }
    function AddSubject(SubjectId, Name, Credits, FeePerCredit) {
        if (SubjectId == "" || Name == "" || Credits == "" || FeePerCredit=="") {
            alert("All fields must be filled!");
            return;
        }
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            var c = JSON.parse(this.responseText);
            if (!c) {
                alert("Subject existed");
                document.getElementById("addSubjectForm").style.display = "none";
                return;
            }
            alert("Subject Added");
            document.getElementById("addSubjectForm").style.display = "none";
            var table = document.getElementById("SubjectTable");
            var row = table.insertRow(1);
            row.id = `${SubjectId}`;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var bold = document.createElement("b");
            var textNode = document.createTextNode(`${SubjectId}`)
            bold.appendChild(textNode);
            cell0.appendChild(bold);
            cell1.innerHTML = Name;
            cell2.innerHTML = Credits;
            cell3.innerHTML = FeePerCredit;
            var bold1 = document.createElement("b");
            var textNode1 = document.createTextNode("Delete")
            bold1.appendChild(textNode1);
            cell4.appendChild(bold1);
            cell4.addEventListener("click", function () {
                DeleteSubject(`${SubjectId}`);
            });
        }
        xhttp.open("POST", "..//../AjaxAdmin/AddSubject?Id=" + SubjectId + "&Name=" + Name + "&Credits=" + Credits + "&FeePerCredit=" + FeePerCredit);
        xhttp.send();
    }
    //DELETE SUBJECT
    function DeleteSubject(SubjectId) {
        var confirmed = confirm("Confirm deletion?")
        if (confirmed == true) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const c = JSON.parse(this.responseText);
                if (!c) {
                    alert("Fail to delete!");
                }
                else {
                    document.getElementById(SubjectId).style.display = "none";
                    alert("Subject Deleted!");
                }
            }
            xhttp.open("GET", "..//../AjaxAdmin/DeleteSubject?Id=" + SubjectId);
            xhttp.send();
        }
    }




    //ADD TEACHER
    function DisplayAddTeacherForm() {
        document.getElementById("addTeacherForm").style.display = "unset";

        var addTeacherForm = document.getElementById("addTeacherForm");
        document.getElementById("addTeacherButton").addEventListener("click", function () {
            AddTeacher(addTeacherForm.childNodes[1].value,
                addTeacherForm.childNodes[4].value,
                addTeacherForm.childNodes[7].value, addTeacherForm.childNodes[10].value)
        })
    }
    function AddTeacher(TeacherId, Name,IDC, Email) {
        if (TeacherId == "" || Name == "" || IDC == "" || Email == "") {
            alert("All fields must be filled!");
            return;
        }
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            var c = JSON.parse(this.responseText);
            if (!c) {
                alert("Teacher existed");
                document.getElementById("addTeacherForm").style.display = "none";
                return;
            }
            alert("Teacher Added");
            document.getElementById("addTeacherForm").style.display = "none";
            var table = document.getElementById("TeacherTable");
            var row = table.insertRow(1);
            row.id = `${TeacherId}`;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var bold = document.createElement("b");
            var textNode = document.createTextNode(`${TeacherId}`)
            bold.appendChild(textNode);
            cell0.appendChild(bold);
            cell1.innerHTML = Name;
            cell2.innerHTML = IDC;
            cell3.innerHTML = Email;
            var bold1 = document.createElement("b");
            var textNode1 = document.createTextNode("Delete")
            bold1.appendChild(textNode1);
            cell4.appendChild(bold1);
            cell4.addEventListener("click", function () {
                DeleteTeacher(`${TeacherId}`);
            });
        }
        xhttp.open("POST", "..//../AjaxAdmin/AddTeacher?Id=" + TeacherId + "&Name=" + Name + "&Idc=" + IDC + "&Email=" + Email);
        xhttp.send();
    }
    //DELETE TEACHER
    function DeleteTeacher(TeacherId) {
        var confirmed = confirm("Confirm deletion?")
        if (confirmed == true) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const c = JSON.parse(this.responseText);
                if (!c) {
                    alert("Fail to delete!");
                }
                else {
                    document.getElementById(TeacherId).style.display = "none";
                    alert("Teacher Deleted!");
                }
            }
            xhttp.open("GET", "..//../AjaxAdmin/DeleteTeacher?Id=" + TeacherId);
            xhttp.send();
        }
    }



</script>



