<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("THUYTRINH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="parentNavBar" class="nav navbar-nav">
                    <li id="HomeTab">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="StudentTab">@Html.ActionLink("AjaxStudent", "Index", "AjaxStudent")</li>
                    <li id="ClassTab">@Html.ActionLink("AjaxClass", "Index", "AjaxClass")</liid="StudentTab">
                    <li id="DepartmentTab">@Html.ActionLink("AjaxDepartment", "Index", "AjaxDepartment")</li>
                    <li id="UniversityTab">@Html.ActionLink("AjaxUniversity", "Index", "AjaxUniversity")</li>
                    <li id="AdminTab">@Html.ActionLink("AjaxAdmin", "Index", "AjaxAdmin")</li>
                    <li id="TeacherTab">@Html.ActionLink("AjaxTeacher", "Index", "AjaxTeacher")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_ChangePasswordPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
